/web/frontend/node_modules
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/storage/db.sqlite
/web/vendor
/web/composer.lock
/web/media/*
.env
.env.*
!.env.example
!.env.testing
web/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

**/node_modules

.idea
.vscode

**/__pycache__
/web/venv
/web/logs
/web/db.sqlite3
/web/assets
*.lock
/yarn.lock
/shopify.app.toml
/venv/*
/logs/*
/db.sqlite3